# Configuración de Base de Datos MySQL (Railway)
DATABASE_URL=mysql+pymysql://root:hqLczmykgJHqKHCUWyhOgiGrwtFtFzoI@mainline.proxy.rlwy.net:41352/railway

# Configuración individual (alternativa)
DB_HOST=mainline.proxy.rlwy.net
DB_PORT=41352
DB_USER=root
DB_PASSWORD=hqLczmykgJHqKHCUWyhOgiGrwtFtFzoI
DB_NAME=railway

# Configuración de la aplicación
PORT=3000
DEBUG=True
SECRET_KEY=tu_clave_secreta_super_segura_cambiala_en_produccion
